<div class="create">
<form action="/create" method="POST" class="creation">
  <h2 style="text-align: center">создать активность</h2>

  <div class="input-field" >
    <input type="text" name="title">
      <p></p>
    <label>Название активности</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>
</div>