<div>
    <h2 style="text-align: center ;margin-top:20px ">Удалить активность</h2>

{{#if todos.length}}
    <div class="delete_container">
        <div class="acts_container">
        <ul style="text-align: center">
            {{#each todos}}
                <li class="todo">
                    <form action="/acts" method="POST">
                        <label>
                            {{#if completed}}
                                <input type="checkbox"  name="completed">
                                <p></p>
                                <span class="completed">{{this}}</span>
                            {{else}}
                                <input type="checkbox" name="completed">
                                <span>{{this}}</span>
                            {{/if}}

                            <button class="btn btn-small" type="submit" name="delete">Save</button>
                        </label>
                    </form>
                </li>
            {{/each}}
        </ul>
        </div>
    </div>
{{else}}
    <p style="text-align: center">нет активностей</p>
{{/if}}
</div>