<html>
<head>

</head>
<body>
<form class="" action="/" method="post">

    <h2>регистрация</h2>
    <div class="input-field">
      <input type="email" name="login">
      <label>введите ваш email</label>
    </div>
    <div class="input-field">
      <input type="password" name="pass" >
      <label>введите пароль</label>
    </div>
    <button type="submit" class="btn"> войти</button>
  <span class="close"></span>
  </form>
</body>
</html>
