<form action="/main" method="post">'
    <div class="codegetter">
        <h2>взять код регистрации</h2>
        <p></p>

        <button type="submit" class="btn">взять код</button>
        <p></p>
        <p>{{code}}</p>
    </div>
</form>
